:root {
	--mono-hue: 225;
	--mono-saturation: 25%;
	--code-font-family: 'Roboto Mono', monospace;
	--code-theme-background: #1d212f;
	--code-theme-comment: #4b5969;
	--code-theme-function: var(--theme-color);
	--code-theme-keyword: #7ea0f6;
	--code-theme-operator: #b8bfc7;
	--code-theme-punctuation: #b8bfc7;
	--code-theme-selection: #004a9e;
	--code-theme-selector: #0a56a3;
	--code-theme-tag: #afd4fe;
	--code-theme-text: #f8f8f2;
	--code-theme-variable: #47b4eb;
	--code-inline-color: #cbd4d7;
	--code-inline-background: #1f282d;
	--navbar-root-color--hover: #fff;
}
